<!DOCTYPE html>
<html lang="en" ng-app="elemeApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/angular.js"></script>
    <script src="js/jquery-3.1.1.js"></script>
    <script src="js/base/controller.js"></script>
</head>
<body>
    <div class="header wrap clearfix">
        <div class="clearfix"><div class="search clearfix"><a class="icon-search" title="搜索商家或美食"></a><input type="text" placeholder="搜索商家，美食..."></div></div>

        <div class="tab"><div class="image"><img src="//faas.elemecdn.com/desktop/media/img/takeout.408a87.png" alt=""></div></div>
    </div>
    <div class="content wrap">
        <div class="goodsBar" ng-controller="navCtrl">
            <div class="classify">
                <span class="filterName">
                    <font>商家分类</font>
                </span>
                <a href="javascript:;" class="item" ng-repeat="x in name"  ng-click="changeCategory(x)" ng-class="{'item_focus':x.clickCategory&&clickCategory,'item_active':num==x.id} ">{{x.name}}</a>
                <div class="subbox" ng-show="subCategories"><a href="javascript:;" class="item" ng-repeat="sub in subCateagory"  ng-click="changeSubCategory(sub)" ng-class="{'item_focus':num1==sub.id} ">{{sub.name}}</a></div>
            </div>
        </div>
    </div>
</body>
</html>